rotated()
  top: calc(50% - 1px)
  height: 2px
  left: -20.5%
  width: 141%
  transform: rotate(arguments)
  transform-origin: 50% 50%

.cell-line
  position: absolute
  cursor: pointer
  background: lightgrey
  border-radius: 1px
  border: 0
  padding: 0

  &.red
    background: red
    z-index: 1

  &.blue
    background: blue
    z-index: 1

  &.horizontal
    top: -1px
    height: 2px
    width: 100%

  &.vertical
    left: -1px
    width: 2px
    height: 100%
    top: 0

  &.tangent
    rotated(45deg)

  &.secant
    rotated(-45deg)

  &:hover
    background: green
